<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Đổi mật khẩu</title>
</head>

<body>
    <h2>Trang đổi mật khẩu cho: <span id="display-user">...</span></h2>
    <form action="/change-password" method="POST">
        <input type="hidden" name="username" id="hidden-user">
        <p>
            <label>Nhập mật khẩu mới:</label><br>
            <input type="text" name="newPassword" size="50">
        </p>
        <button type="submit">Xác nhận đổi</button>
    </form>
    <script>
        // Đoạn code này lấy "user" từ link: ?user=tuyen
        const urlParams = new URLSearchParams(window.location.search);
        const currentUser = urlParams.get('user');

        if (currentUser) {
            document.getElementById('display-user').innerText = currentUser;
            document.getElementById('hidden-user').value = currentUser;
        }
    </script>
</body>

</html>