<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xóa tài khoản</title>
</head>

<body>

    <body>
        <h2>Xóa Tài Khoản</h2>
        <form action="/delete_account" method="POST">
            <p>
                <label>Nhập lại tên tài khoản muốn xóa</label><br>
                <input type="text" name="username" size="50" required>
            </p>
            <button type="submit" style="color: red;">XÁC NHẬN XÓA</button>
        </form>
    </body>
</body>

</html>